.container
  .col-sm-4.col-sm-offset-4
    %h1.sign_up_title= I18n.t('sign_up.title')
    %form{"ng-init" => "registrationForm = {}"}
      .form-group
        %label= I18n.t('sign_up.email')
        %input.form-control{:name => "email", "ng-model" => "registrationForm.email", :required => "required", :type => "email"}/
      .form-group
        %label= I18n.t('sign_up.password')
        %input.form-control{:name => "password", "ng-model" => "registrationForm.password", :required => "required", :type => "password"}/
      .form-group
        %label= I18n.t('sign_up.confirm_pswrd')
        %input.form-control{:name => "password_confirmation", "ng-model" => "registrationForm.password_confirmation", :required => "required", :type => "password"}/
      %button.btn.btn-primary.btn-lg.btn-block{ng: {click: "handleRegBtnClick()"}}= I18n.t('sign_up.submit_reg')
      %button.btn.btn-primary.btn-lg.btn-block{ng: {controller: "SessionsController", click: "goLogin()"}}= I18n.t('sign_up.goto_login')
  .col-sm-4.col-sm-offset-4
    %button.btn.btn-primary.btn-lg.btn-block{"ng-click" => "authenticate('facebook')"}= I18n.t('sign_in.btn_fb_login')
