%li.task_block{ng: {repeat: "task in project.tasks", mouseenter: 'taskToolbar = true', mouseleave: 'taskToolbar = false'}}
  .task_status
    %input{type: "checkbox", ng: {click: "taskDone(task)", model: "task.status"}}
  .task_info
    .task_title
      %strong{ng: {init: "task.commentsList = false", click: 'showComments(task)', if: "!task.editTask"}}
        #{I18n.t('task.title')}: {{task.title}} #{I18n.t('task.deadline')}: {{task.deadline}}
    %form.edit_task.form-inline{name: "editTaskForm", ng: {submit: "updateTask(task)", if: "task.editTask"}}
      %input.form-control.input-sm.edit_task_input{type: "text", placeholder: "#{I18n.t('task.input_edit')}", ng: {model: 'taskData.title'}, required: true}
      %input.form-control.input-sm.edit_task_input_date{type: "date", ng: {model: 'taskData.deadline'}, required: true}
      %input.btn.btn-success.btn-sm.edit_task_button{type: "submit", value: "#{I18n.t('task.submit_edit')}", ng: {disabled: 'editTaskForm.$invalid'}}
    .comments_block{ng: {if: "task.commentsList"}}
      %strong #{I18n.t('task.comments')}:
      %ul.comments{ng: {include: "'angular/templates/comment.html'"}}
  .task_toolbar{ng: {show: "taskToolbar"}}
    %span.glyphicon.glyphicon-pencil.edit_task_img{ng: {init: "task.editTask = false", click: 'showEditForm(task)'}}
    %span.glyphicon.glyphicon-trash.del_task_img{ng: {click: "deleteTask(task, $index)"}}

