!!!
%html{"ng-app" => "TodoList"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TodolistAngular
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag "i18n"
    = javascript_include_tag "translations"
    = csrf_meta_tags
  %body
    %ui-view

